<div class="row">
  <div class="col ">
    <div class="card text-center animated fadeIn fast">
      <div class="card-header animated fadeIn">
        Bienvenido a ArcGis
      </div>
      <div class="card-body animated fadeIn">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a class="btn btn-primary">Go somewhere</a>
      </div>
      <div class="card-footer text-muted animated fadeIn">
        ***
      </div>
    </div>
  </div>
</div>
